<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-4.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
       http://www.springframework.org/schema/tx 
       http://www.springframework.org/schema/tx/spring-tx-4.2.xsd 
       http://www.springframework.org/schema/data/jpa 
       http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.0.xsd">

	<sec:http>
		<sec:intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"/>
		<sec:intercept-url pattern="/cart/*" access="hasRole('ROLE_USER')"/>
		<!-- sec:form-login login-page="/signin" login-processing-url="/login" authentication-failure-url="/signin" default-target-url="/index.html"/ -->
		<sec:form-login />
		<sec:logout/>
		<sec:csrf disabled="true"/>
	</sec:http>

	<sec:authentication-manager>	
		<sec:authentication-provider>
		<!--  sec:user-service>
			<sec:user name="admin" password="123" authorities="ROLE_ADMIN"/>
			<sec:user name="tom" password = "123" authorities="ROLE_USER"/>
		</sec:user-service-->
		<sec:jdbc-user-service data-source-ref="dataSource"
		users-by-username-query="select email, password, 1 from user where email=?"
		authorities-by-username-query="select email, role from user where email=?"/>
		</sec:authentication-provider>
	</sec:authentication-manager>
	
	<!-- MySQL data source -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/fairstore" />
		<property name="username" value="root" />
		<property name="password" value="yipl123" />
	</bean>
	
	<!-- Hibernate session factory -->
	<!--  bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		 <property name="packagesToScan" value="edu.mum.ea.shop.domain" />
		<property name="hibernateProperties" ref="hibernateProperties"/>
	</bean -->
	
	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
			<property name="properties">
		    	<props>
				<prop key="hibernate.dialect">
                           org.hibernate.dialect.MySQL5Dialect
                        </prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
		    </props>
		</property>
	</bean>
	
	<bean id="hibernateJpaVenderAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
	
	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter" ref="hibernateJpaVenderAdapter"/>
		<property name="jpaProperties" ref="hibernateProperties"/>		
		<property name="packagesToScan" value="edu.mum.ea.shop.domain" />
	</bean>
	
	<!-- The transaction manager -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!--bean id="transactionManager"
    class="org.springframework.orm.hibernate4.HibernateTransactionManager">
    <property name="sessionFactory" ref="sessionFactory" />
	</bean-->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
	<property name="entityManagerFactory" ref="entityManagerFactory"/>
	</bean>	

	<mvc:annotation-driven/>

	<context:component-scan base-package="edu.mum.ea.shop" />

	<jpa:repositories base-package="edu.mum.ea.shop.dao" />
	
	<bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000"/>
    </bean>

	<!-- Resolves views selected for rendering by @Controllers to .jsp resources 
		in the /WEB-INF/views directory -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:view-controller path="/admin/addproduct" view-name="addproduct"/>	
	<!-- Lets us find resources (.html etc) through the default servlet -->
	<mvc:default-servlet-handler/> 
	

	<!-- Handles HTTP GET requests for /resources/** by efficiently serving 
		up static resources in the ${webappRoot}/resources/ directory -->
	<mvc:resources mapping="/resources/**" location="/resources/" />

</beans>